/* CSS Document */
html{ height:100%; }
body{ font:16px 'Microsoft YaHei',Helvetica; height:auto; min-height:100%; word-break:break-word; background: #fff;}
ul,li{ list-style:none; }
.left{ float:left; }
.right{ float:right; }
.clearfix{ clear:both;}
a,a:hover{ text-decoration:none;}
div.outCont{ height:100%; background:#ededed; position:relative; overflow:hidden; }
header,aside,footer,section,article,figure,nav,menu{ display:block; }
input,button,textarea{-webkit-appearance: none; padding:0;margin:0; border:none; background:none; border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;}
/*************    *************/
.day_list{ opacity:1; position:absolute; width:320px; left:50%; margin-left:-160px; height:100%; overflow:hidden; z-index:100;}
.day_list li.active{opacity:0;}
.marCon1{overflow:hidden;}
/***gao****/

.no_topcon {width:100%;overflow:hidden; float:left;}
.no_topcon li {width:320px;float:left;}
.no_data {width:132px;margin:40px auto 0px auto; }
.no_data img {width:100%;}
.no_richeng h6 {font-size:15px;width:100%;text-align:center;font-weight:normal;padding:10px 0;}
/********µÚÒ»ÆÁ*********/
.scroll_panel{ height:100%;}
.scroll_panel .marCon{height:100%;background:#fff; overflow:hidden; position:relative;}
.all-screen{width:100%;height:100%;overflow:hidden;position:relative;}
.all-screen ul{position:absolute;width:0.5rem;height:auto;left:1rem;top:3rem;}
.all-screen ul li{width:0.5rem;height:0.5rem;background-image:url(../images/yd_a.png);background-size:100% 100%;margin-bottom:0.5rem}
.all-screen ul li.on{background-image:url(../images/yd_b.png)}
.page{ position:absolute; z-index:1000; width:100%; left:0;bottom:1rem}
.page_breif{ width:48px; height:14px; margin:0px auto; display:block;  background-image:url(../images/page_bg.png);background-repeat: no-repeat; background-position:right top; background-size:35px 14px;  font-style:normal; }
.page_breif span.nums{width:14px;height:14px;display:block;float:left;background:rgba(0,0,0,.5);border-radius:7px;-webkit-border-radius:7px;-webkit-text-size-adjust:none;font-size:8px;color:#fff;line-height:14px;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;transform:rotateY(0deg) translateZ(0px);-webkit-transform:rotateY(0deg);transition:all 0.25s linear;-webkit-transition:all 0.25s linear;text-align:center;}
.page_breif span.nums.ani{transform-style:preserve-3d;-webkit-transform-style:preserve-3d;  transform:rotateY(-90deg) translateZ(0px);-webkit-transform:rotateY(-90deg);}
.page_breif span.nums.ani.anistop{transform:translateZ(0px); transform:rotatey(0deg);}
.page_breif span.total{ float:left;-webkit-text-size-adjust:none;font-size:8px; color:#fff; line-height:14px;margin-left:8px;}
.page_breif span.total cite{margin-left:5px; font-style:normal;}
.all-screen{display:table;}
/*******************************************************/
.time{width:15rem;height:1rem;line-height:1rem;text-align:center;position:absolute;left:0;bottom:1rem;color:#666;font-size:0.44rem;}
.cf{color:#fff;}
.top_tit{display:table;margin:2rem auto 0 auto;color:#b18520;border-bottom: 5px solid #e6c068;height:1.5rem;line-height:1.5rem;}
.tit_b,.tit_c{color:#9b999a;font-size:0.4rem;text-align:center;font-weight:bold;margin-top:0.5rem;}
.tit_c{margin-top:3rem;}
/* all */
.nav{width:100%;height:1.76rem;background:#fff;position:fixed;top:0;left:0;z-index:9999;background: #FFFFFF;border-bottom:solid 0.5px  #979797;}

.one{background-color:#2dcdcd}
.two{background-color:#b262da}
.three{background-color:#2cb539}
.four{background-color:#ffc800}
.logo{height:1.2rem;width:1.1rem;float:left;background-image:url(../切图/smalllogo@2x.png);background-size:100% auto;background-position:center center;background-repeat:no-repeat;margin-top: 3px;margin-left: 12px}
nav{width:1.2rem;height:1.2rem;float:right;margin-top:0.38rem;background-image:url(../切图/others@2x.png);background-size:100% auto;background-position:center center;background-repeat:no-repeat;font-size:0.55rem;position:repeat;}
nav ul{position:absolute;width:90px;height:158px;background:#D559DD;right:0;top:1.3rem;text-align:center;display:none}
nav ul li{height:1.5rem;line-height:1.5rem;}
nav ul li a{color:#FFFFFF;display:block;height:100%}
/*  */
.all-screen p{color:#fff;font-size:0.8rem;text-align:center;height:1rem;line-height:1rem;position:absolute;width:100%;}
.all-screen p.pa{top:3rem}
.all-screen p.pb{top:4.5rem}
.all-screen img{width:64%;display:block;position:absolute;bottom:0.5rem;left:18%;}
/**/
.ind_box{width:100%;height:100%;overflow:hidden;background-color:#fff;color:#DC5CE4;}
.ind_box img{display:block;margin:0 auto;}
.ind_box img.ind_f_img{width:55%;margin:4rem auto 0 auto;}
.ind_box img.ind_f_ewm{width:4.5rem;margin-bottom:0.55rem;border-radius:11px}
.cen_txt{width:100%;text-align:center;font-size:0.8rem;height:2rem;line-height:2rem;margin:1rem 0}
.ewm_txt{width:100%;text-align:center;font-size:0.5rem;}
.ind_box img.con_f_img{width:171.5px;margin:113.5px auto 0.25rem auto;height: 170px}
.ind_box p.con_t,.ind_box p.con_p{width:100%;height:1.5rem;padding:0 1rem}
.ind_box p.con_t{font-size:0.75rem;line-height:1.5rem;margin-bottom:0.35rem}
.ind_box p.con_p{height:22.5px;line-height:22.5px;margin-bottom:2px;text-align: center;margin-top: 66.5px}
.ind_box p.con_p:nth-child(6){margin-bottom:1rem;}

/*  */

.all-screen p.an_a{opacity:0}
.all-screen p.an_b{opacity:0}
.all-screen img.an_c{opacity:0}
.all-screen p.an_d{opacity:0}
.all-screen p.an_e{opacity:0}
.all-screen .an_f{opacity:0}
.all-screen .an_g{opacity:0}
.all-screen .an_h{opacity:0}
.all-screen img.an_i{opacity:0}


.ani .an_a{animation:an_a 1s 0s both}
@keyframes an_a{0%{left:-3rem;opacity:0}100%{left:0;opacity:1}}

.ani .an_b{animation:an_b 1s 0.2s both}
@keyframes an_b{0%{right:-3rem;opacity:0}100%{right:0;opacity:1}}

.ani .an_c{animation:an_c 1s 0.2s both}
@keyframes an_c{0%{bottom:-5rem;opacity:0}100%{bottom:1.0rem;opacity:1}}

.ani .an_d{animation:an_d 1s 0s both;opacity:0}
@keyframes an_d{0%{top:6rem;opacity:0}100%{top:3rem;opacity:1}}

.ani .an_e{animation:an_e 1s 0.2s both;opacity:0}
@keyframes an_e{0%{top:8rem;opacity:0}100%{top:4.5rem;opacity:1}}


.ani .an_f{animation:an_f 1s 0.4s both;opacity:0}
@keyframes an_f{0%{left:10%;opacity:0}100%{left:18%;opacity:1}}

.ani .an_g{animation:an_g 1s 0s both}
@keyframes an_g{0%{left:-3rem;opacity:0}100%{left:0;opacity:1}}

.ani .an_h{animation:an_h 1s 0.2s both}
@keyframes an_h{0%{right:-3rem;opacity:0}100%{right:0;opacity:1}}

.ani .an_i{animation:an_i 1s 0.2s both}
@keyframes an_i{0%{bottom:-5rem;opacity:0}100%{bottom:1.0rem;opacity:1}}

 




.ind_box img.wt_img{width:224.75px;height:400.1px;margin:4rem auto 1rem auto;}
.wt_t{font-size:1rem;margin-bottom:0.35rem;text-align:center;font-weight:bold}
.wt_b{font-size:0.5rem;text-align:center}
.wt_a{font-size:0.55rem;background:#fff;display:block;margin:1.5rem auto 0 auto;border-radius:1rem;height:1.4rem;line-height:1.4rem;width:5rem;color:#ff4b41;text-align:center}




.foot{width:100%;height:2.56rem;background:#fff;position:fixed;bottom:0;left:0;position:relaative;overflow:hidden}
.d_table{width:8rem;height:2.56rem;display:table;float:left;}
.d_td{display:table-cell;text-align:left;font-size:0.6rem;color:#959595;vertical-align:middle;}
.foot a{width:100px;height:30px;line-height:1.3rem;background:#DC5CE4;float:right;color:#fff;font-size:0.55rem;margin-top:0.68rem;margin-right:0.53rem;border-radius:3px;text-align:center}
 

.ind_footer{width:100%;height:1.5rem;line-height:1.5rem;background:#fff;color:#5a5a5a;font-size:0.45rem;text-align:center;position:fixed;left:0;bottom:0}
.none{display:none}


.menuboxul{display: none; padding-left: 20px;padding-right: 20‒;padding-right: 20px; margin-top: 11px;}
.slider-img{width: 100%;height: 100%; border-radius: 20px; overflow: hidden;}