@charset "UTF-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
*{box-sizing:border-box;}
html,body{font-family:微软雅黑;height:100%;}
fieldset,img{border:0;display:block;}
.clearfix:after{content:"";height:0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
i,em{font-style:normal;}
input,button,select,textarea{outline:none;border:0;} 
textarea{resize:none; }
a{text-decoration:none; }
a:hover{text-decoration:none; }
.none{display:none;}
.c_body{z-index:9;width:1200px;overflow:hidden;margin:0 auto;}
.bg{}
.nav{height:50px;background:#fff;position:fixed;left:0;top:0;width:100%;z-index:9}
.nav a{height:32px;line-height:32px;margin-top:9px;display:block;float:left;margin-right:50px;color:#666;font-size:14px;}
.nav a:hover,.nav a.clk{border-bottom:2px solid #666}
.nav_logo{height:100%;width:70px;background:url(../images/logo.png) no-repeat center center;float:right;display:none;}
.ind_box{background-color:#ffe100;width:100%;height:100%;position:relative;overflow:hidden;padding:50px 0;}
.ind_c_cen{display:table;position:absolute;top:50%;left:50%;width:430px;height:570px;text-align:center;color:#fff;margin-left:-225px;margin-top:-285px;}
.ind_c_cen span{display:block;}
.ind_c_cen img{margin:0 auto;display:block;}
.ind_c_cen img.ind_f_img{max-width:340px;}
.ind_c_cen img.con_f_img{width:176px;margin-bottom:30px;}
.ind_c_cen img.con_f_img{}
.ind_c_cen img.ind_f_ewm{border-radius:8px}
.ind_c_cen p.cen_txt{height:auto;line-height:1;text-align:center;color:#fff;font-size:30px;padding:30px 0}
.ind_c_cen p.ewm_txt{height:40px;line-height:40px;text-align:center;color:#fff;font-size:14px;}
.cen_p{font-size:24px;margin-bottom:10px;text-align:left}
.ind_c_cen span{font-size:18px;line-height:40px;text-align:center}
.mb_b{margin-bottom:20px}

















.ind_footer{color:#5a5a5a;font-size:12px;width:100%;height:50px;line-height:50px;text-align:center;position:static;bottom:0;left:0;background:#fff;text-align:left}